{{#partial "contenido"}}
<h2>Reporte</h2>

<table class="table table-stripped">
		<tr>
			<th>Cliente</th>
			<th>DNI</th>
			<th>Fecha inicio</th>
			<th>Fecha fin</th>
			<th>Consumo</th>
		</tr>
		
		{{#each reportes}}
			<tr>
				<td>{{apellidoCliente}}, {{nombreCliente}}</td>
				<td>{{DNI}}</td>
				<td>{{fechaInicio}}</td>
				<td>{{fechaFin}}</td>
				<td>{{consumo}} KW</td>
			</tr>
		{{/each}}
</table>
{{/partial}}

{{>layoutAdmin.hbs}}