{{#partial "contenido"}}
<h2>Dispositivos</h2>

<table class="table table-stripped">
		<tr>
			<th>Nombre Generico</th>
			<th>Estado</th>
			<th>Consumo</th>
		</tr>

		{{#each cliente.dispositivosInteligentes}}
			<tr>
				<td>{{nombreGenerico}}</td>
				<td>{{estado}}</td>
				<td>{{KwXHora}} Kw</td>
			</tr>
		{{/each}}
				
		{{#each cliente.dispositivosEstandar}}
			<tr>
				<td>{{nombreGenerico}}</td>
				<td>-</td>
				<td>{{KwXHora}} Kw</td>
			</tr>
		{{/each}}
		
</table>
<br></br>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card invisible">
        </div>
		<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Consumo Ultimo Periodo</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <h1>{{reporte.consumo}} Kw</h1>
            </ul>
          </div>
        </div>
        <div class="card invisible">
        </div>
      </div>

</div>

{{/partial}}

{{>layoutUser.hbs}}